<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="E:\JAVA学习\每日案例\个人代码\mydatis-03\src\main\java\com\smart\mybatis\entity" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>